$body-background: #222B31;
$body-color: #95BBD5;
$topbar-background: #222;


.app__header {
  background-color: #222;
  padding: 3rem 0;
  color: white;
  text-align: center;
  h1 {
    margin-bottom: 1rem;   
  }
}

img {
  display: block;
  max-width: 100%;
}

body {
  font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #222B31;
  color: #95BBD5;
}

a {
  text-decoration: none;
  color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #fff;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top-bar {
  background-color: #222;
  position: fixed;
  z-index: 50;
  width: 100%;
  display: flex;
  padding: 0 !important;
  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    &__brand {
      background: url('logo.svg') no-repeat left center;
      background-size: 36px 36px;
      padding-left: 42px !important;
      color: #fff;
    }
    li {
      display: inline-block;
      position: relative;
      a {
        display: block;
        padding: 2rem 1.5rem;
        position: relative;
        font-size: 1rem;
        &:hover {
          background-color: lighten($topbar-background, 5%);
          + .submenu {
            display: block;
          }
        }
      }
      &:hover {
        .submenu {
          display: block;
        }
      }
    }
  }

  &__item {
    &--account {
      padding-left: 42px !important;
      img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        position: absolute;
        top: 32px;
        left: 0;

      }
    }
  }

  .submenu {
    position: absolute;
    top: 83px;
    left: 0;
    background-color: #222;
    display: none;
    li {
      display: block;
      a {
        padding: 1rem 1.5rem;
      }
    }
  }

  + .container {
    padding-top: 83px;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: transparent) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
      border-radius: 10px; 
      cursor: pointer;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(.5em, rgba(#fff, .5));
@import 'foundation-sites/scss/foundation';
@import 'App/settings';
/// include all modules of foundation
@include foundation-everything;

/// or use just particular mouldes
// @include foundation-global-styles;
// @include foundation-grid;
// @include foundation-typography;
// @include foundation-button;
// @include foundation-forms;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;

@import 'App/grid';