$body-background: #222B31;
$body-color: #95BBD5;


.app__header {
  background-color: #222;
  padding: 3rem 0;
  color: white;
  text-align: center;
  h1 {
    margin-bottom: 1rem;   
  }
}

img {
  display: block;
  max-width: 100%;
}

body {
  font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #222B31;
  color: #95BBD5;
}

a {
  text-decoration: none;
  color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #fff;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@import 'App/grid';