.movie {
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-position: center top;
		background-repeat: no-repeat;
    	background-attachment: fixed;
		z-index: 1;
		filter: blur(10px);
		opacity: .3;
	}
	&__poster {
		display: block;
		//margin-top: -100px;
		box-shadow: 0 8px 15px rgba(0,0,0, .4);
	}
	&__sidebar {
		width: 320px;
		padding: 2rem;
		background-color: rgba(#000, .5);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		&__section {
			margin-top: 2rem;
		}
	}
	&__main {
		padding-left: 320px;
	}
	.section {
		position: relative;
		z-index: 2;
	}
}

.genre-list {
	list-style: none;
	margin: 0;
	padding: 0;
	&__item {
		display: inline-block;
		margin-left: .5rem;
		font-size: .6rem;
		border: 1px solid #95BBD5;
		padding: .25rem;
		&:first-child {
			margin-left: 0;
		}
	}
}

.cast {
	width: 100%;
	overflow-x: auto;
	padding: 0 1rem;
	text-align: center;
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		&__item {
			flex: 0 0 150px;
			padding: 1rem 1rem 0;
			&__profile {
				margin-bottom: 1rem;
			}
		}
	}
}